.red{
    float: left;
    border-radius: "15%";
    border: solid thick black;
    background-color: red;
    height: 200px;
    width: 200px;
}

.blue{
    color: white;
    float: left;
    border-radius: "15%";
    border: solid thick black;
    background-color: blue;
    height: 200px;
    width: 200px;
}

.blank{
    float: right;
    border-radius: "15%";
    border: solid thick green;
    background-color: white;
    height: 200px;
    width: 200px;
}

/*Your new class can go here*/
.rorysClass{
    
}